/* line 3, ../../app/styles/main.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
/* line 11, ../../app/styles/main.scss */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #222;
  color: #ababab;
  font-family: 'Homenaje';
}

/* Everything but the jumbotron gets side spacing for mobile first views */
/* line 22, ../../app/styles/main.scss */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 20px;
}

/* Custom page header */
/* Make the masthead heading the same height as the navigation */
/* line 33, ../../app/styles/main.scss */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
/* line 41, ../../app/styles/main.scss */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* line 47, ../../app/styles/main.scss */
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
/* line 52, ../../app/styles/main.scss */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

/* line 57, ../../app/styles/main.scss */
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
/* line 63, ../../app/styles/main.scss */
.marketing {
  margin: 40px 0;
}

/* line 67, ../../app/styles/main.scss */
.marketing p + h4 {
  margin-top: 28px;
}

/* line 71, ../../app/styles/main.scss */
.input-group-btn {
  vertical-align: top;
}

/* line 75, ../../app/styles/main.scss */
.nav-lines-btn {
  position: relative;
  margin-top: 2%;
  border: 2px solid black;
  border-radius: 2px;
  height: 36px;
  width: 40px;
  text-decoration: none;
  outline: none;
}

/* line 85, ../../app/styles/main.scss */
#lines:before {
  border-bottom: 10px double black;
  border-top: 0px solid black;
  content: "";
  height: 5px;
  position: absolute;
  right: 3px;
  top: 4px;
  width: 30px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* line 98, ../../app/styles/main.scss */
  .container {
    max-width: 700px;
  }

  /* Remove the padding we set earlier */
  /* line 105, ../../app/styles/main.scss */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  /* line 110, ../../app/styles/main.scss */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  /* line 114, ../../app/styles/main.scss */
  .jumbotron {
    border-bottom: 0;
  }
}
